body {
  font-family: "Nunito", sans-serif;
}
/* Center header using flexbox */
header {
  display: flex;
  flex-direction: column; /* Stack the h1 and h2 vertically */
  align-items: center; /* Horizontally center the content */
  text-align: center; /* Center text */
  padding-bottom: 2em;
}

header h1 {
  font-family: "Shrikhand", serif;
}

header h2 {
  font-family: "Nunito", sans-serif;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#dateInput {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dateInput h3 {
  text-align: center;
}

#dateInput input {
  margin: 0 auto;
}

.age {
  padding: 1em;
  text-align: center;
}
.colonoscopy {
  background-color: brown;
  color: white;
  text-align: center;
  padding: 1em;
}

.over18 {
  background-color: red;
  color: white;
  text-align: center;
  padding: 1em;
}

#daysAgo {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#daysAgo h3 {
  text-align: center;
}
#daysAgo input {
  margin: 0 auto;
}
